{{include 'same/header'}}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container dropdown">
        <a class="navbar-brand" href="#">挚友</a>
        <div class="navbar-text pull-right text-right">

            <span class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user">王宝强</span>
            </span>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
                <li><a class="text-right" href="register.html">个人资料</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="text-right">退出</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form>
        <div class="form-group">
            <textarea class="form-control" name="content" id="form-control" cols="30" rows="10" placeholder="请详细描述你的问题"></textarea>
        </div>
        <button type="submit" class="btn btn-success form-control">提交问题</button>
    </form>
</div>
{{include 'same/modal'}} {{include 'same/footer'}}